In [ ]:
import arcpy 
from arcpy import env 
import os 
# Establish connection for workspace 
env.workspace = r"gisprd.sde"
#call ListFeatureClass function
fcList = arcpy.ListFeatureClasses()
# Print the name of the current fc:
for fc in fcList:
    print(fc)

In [1]:
from arcgis.gis import GIS
gis = GIS()

In [2]:
from arcgis import GIS
item = gis.content.get("936481805c2d4639ac727938b32d8ec3")
flayer = item.layers[3]
df = flayer.query(where="STATE_NAME = 'NORTH CAROLINA'").sdf
df.head()

   OBJECTID  ...                                              SHAPE
0     83307  ...  {"rings": [[[-8709397, 4018294], [-8709419, 40...
1     83308  ...  {"rings": [[[-8687964, 4016414], [-8687997, 40...
2     83309  ...  {"rings": [[[-8691505, 4017890], [-8691544, 40...
3     83310  ...  {"rings": [[[-8694899, 4018289], [-8694850, 40...
4     83311  ...  {"rings": [[[-8693431, 4016236], [-8693939, 40...

[5 rows x 99 columns]

In [3]:
# selecting only cost and description columns
df1 = df[['ID','COUNTY','AREA','TOTPOP10','POPDENS10','MALES10', 'FEMALES10', 'HHPOP10']]
df1.head()

             ID COUNTY      AREA  ...  MALES10  FEMALES10  HHPOP10
0  370190204024    019  1.637148  ...      257        239      496
1  370190203105    019  3.872068  ...      321        356      673
2  370190203104    019  0.798439  ...      255        264      519
3  370190203103    019  0.554656  ...      152        141      293
4  370190203102    019  0.390407  ...      127        105      232

[5 rows x 8 columns]

In [4]:
df1

                ID COUNTY       AREA  ...  MALES10  FEMALES10  HHPOP10
0     370190204024    019   1.637148  ...      257        239      496
1     370190203105    019   3.872068  ...      321        356      673
2     370190203104    019   0.798439  ...      255        264      519
3     370190203103    019   0.554656  ...      152        141      293
4     370190203102    019   0.390407  ...      127        105      232
...            ...    ...        ...  ...      ...        ...      ...
6122  371290121042    129   2.690575  ...     1375       1378     2753
6123  371290121053    129   3.323743  ...     1880       2048     3928
6124  371290122011    129   0.792863  ...      308        256      564
6125  371290118001    129   6.556100  ...      551        475      997
6126  370479311003    047  18.930107  ...      432        465      897

[6127 rows x 8 columns]

In [6]:
%matplotlib inline
import seaborn as sns; sns.set()
sns.pairplot(df1, hue='COUNTY', height=1.5);